* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  height: 100dvh;
  width: 100%;
  overflow: hidden;
  @media screen and (max-width: 680px) {
    overflow: visible;
    overflow-x: hidden;
  }
}

#root{
  width: 100%;
  padding: calc($marge * 3) $marge;
  @media screen and (max-width: 680px) {
    margin-top: calc(150px - 20vw);
   margin-bottom: calc(250px - 20vw);
  }
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  background: $color-black;
  flex-direction: column;
  font-family: $font-common;
  color: $color-white;
  font-size: clamp(15px, 0.75vw, 18px);
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p{font-size: clamp(0.65rem, .9vw, 1.1rem);}