// COLORS
$color-1: #ff4d67;
$color-2: rgba(255, 138, 156, 0.461);
$color-white: #efefef;
$color-black: #030807;

// FONTS
$font-common: 'JetBrains Mono', monospace;
$font-title: 'Hypebuzz';

// MARGES AND SIZES
$marge: 20px;
